// Custom Boxes
.box {
	@extend  %clearfix;
	margin: $gutter 0;

	img {
		margin-right: $gutter;
	}

	.description {
		margin-top: 10px;

		.title {
			font-size: $box-title-fontsize;
			font-weight: $box-title-fontweight;
		}
	}
}
