// Courseboxes
.pagelayout-frontpage .coursebox {
	width: $coursebox-width;
}
#category-page .coursebox{
	height: $coursebox-height + 25px;
	margin-bottom: 20px;
}
.coursebox {
	@include prefix('border-radius', 3px);
	@include prefix('box-shadow', 0 5px 10px rgba(0,0,0,.02));
	background: #fff;
	height: $coursebox-height;
	margin: $coursebox-margin;
	padding: $coursebox-padding;
	border: $coursebox-border;
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	&:first-of-type,
	&:nth-child(3n + 1){
		margin-left: 0;
	}

	> .info,
	.panel-heading,
	.content {
		margin: 0;
		padding: 0;
		h3 { margin: 0;}
	}
	.btn-more {
		@extend .btn-medium;
		margin: $coursebox-btn-margin;
	}

	// Title
	> .info,
	.panel-heading {
		border-radius: 0;
		border: 0;
		background: transparent;
		margin-top: $coursebox-thumb-height + 25px;

		.moreinfo {
			display: none;
		}

		.coursename a {
			@extend h3;
			font-size: $coursebox-title-fontsize;
			margin-bottom: 0;
			font-weight: $coursebox-title-fontweight;
			height: $coursebox-title-height;
            display: block;
            line-height: 1.5em;
		}
	}

	.content {
		&, .summary {
			height: $coursebox-content-height;
			overflow: hidden;
		}
		&:before {
			content: '';
			width: $coursebox-thumb-width;
			height: $coursebox-thumb-height;
			background: $coursebox-thumb-bg;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
		}

		p {
			font-size: 14px;
			color: $gray-medium;
			font-weight: 400 !important;
			font-family: $base-font !important;
			line-height: 1.5em !important;
		}

		> p + p {
			display: none;
		}

		> p,
		.imagebox + p,
		.imagebox + div,
		.text_to_html {
			background: transparent !important;
		}

		.summary {
			padding: 0;
			margin: 0;
			p {
				margin: 0;
			}
		}
	}

	// Enrollment Icons
	.enrolmenticons {
		@include prefix('border-radius', 3px);
		@include prefix('box-shadow', 0 0px 10px rgba(0,0,0,.05));
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		padding: 4px 2px;
		margin: 10px;
		background: #fff;

		img {
			max-width: 12px;
		}
	}

	// Thumb
	.courseimage {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.content .courseimage img {
		max-width: 100%;
		max-height: 100%;
	}

	.imagebox,
	.course-image {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}
	.content .courseimage {
		height: $coursebox-thumb-height;
		max-width: $coursebox-thumb-width;
		border-radius: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.coursebox-category {
        color: $gray-medium;
        padding-bottom: 5px;
	}
}

// Mobile
@media screen and (max-width: $screen-md) {
	.coursebox,
	.pagelayout-frontpage .coursebox,
	#category-page .coursebox {
		margin-left: 0;
		width: 100%;
		height: auto;
		padding: 20px;
		margin-bottom: $gutter;

		.enrolmenticons {
			top: inherit;
			bottom: 0;
			margin: 5px;
		}
	}

	.courseimage,
	.imagebox,
	.coursebox .content:before {
		display: none !important;
	}

	.coursebox>.info,
	.coursebox .panel-heading {
		margin-top: 0;
	}
}

// When search courses
.course-search-result,
.path-enrol {
	.coursebox {
		max-width: 32%;
	}
}
