// Search form
#coursesearch {
	label {
		width: auto;
		height: auto;
		position: static;
		margin: 0;
		clip: inherit;
		color: $body-color;
		text-transform: none;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 10px;
	}

	#coursesearchbox {
		@include prefix('border-radius', 3px);
		width: 100%;
		max-width: 100%;
		padding-right: 45px;
		border: 2px solid #ddd;
		background: #fff;
	}

	.input-group-btn {
		z-index: 20;
		position: absolute;
	    right: 0;
	    top: 7px;

		button {
			background: none;
			border: 0;
			padding: 0;
			font-size: 0;
			margin: 35px 0 0 -35px;
			display: block;
			outline: 0;

			&:before {
				content: "\e003";
				font-family: $font-icon;
				font-size: 24px;
				color: #ccc;
			}
		}
	}
}

#page-course-search {
	#coursesearch {
		label {display: block;}
		#coursesearchbox {
			max-width: 70%;
			& + input[type="submit"] {
				height: 44px;
			}
		}
	}
}
