<nav class="nav course-tabs">
    {{#categories}}
        <a class="nav-link {{#active}}active{{/active}}" href="?category={{id}}">{{name}}</a>
    {{/categories}}
</nav>

<select id="select-course" class="course-tabs--responsive">
    {{#categories}}
    <option class="" value="{{id}}">{{name}}</option>
    {{/categories}}
</select>

