#page-login-index {
	background: $body-login-bg;
	background-size: cover;
}
body.path-login .container-fluid {
	max-width: 1160px;
}

#page-login-index,
body.path-login {

	#footer,
	.rememberpass,
	#header-search,
	#header-userinfo,
	#sidebar,
	#sidebar-content {
		display: none;
	}

	#page {
		margin: $header-height auto 0 auto;
		padding-top: 10px;
	}

	#header .container-fluid {
		max-width: 1160px;
	}
}

.loginbox,
.loginbox.onecolumn,
.loginbox.twocolumns {
	margin-top: $gutter;

	.loginpanel {
		@include prefix('box-shadow', 0 0 10px rgba(0,0,0,.4));
		background: #fff;
		border: 0;
		overflow: hidden;

		h2 {
			background: $loginbox-title-bg;
			color: $loginbox-title-color;
			margin: -20px -20px 20px -20px;
			padding: 15px 20px;
			font-size: 24px;
			font-weight: 700;
		}

		label {
			color: $loginbox-label-color;
		}

		input[type="text"],
		input[type="password"] {
			border: 0;
			outline: 0;
			box-shadow: none;
			padding-left: 40px;
			&:focus {
				outline: 0;
				box-shadow: none;
			}
		}

		#username {
			background: $loginbox-input-bg url([[pix:theme|icons/login-user]]) no-repeat 10px center;
		}
		#password {
			background: $loginbox-input-bg url([[pix:theme|icons/login-password]]) no-repeat 10px center;
		}
	}

	.desc {
		line-height: 22px;
	}
}

.loginbox.onecolumn {
	@include prefix('border-radius', 5px);
	overflow: hidden;
	padding: 0;
	border: 0;


	.loginpanel {
		padding: 20px;
		border: 0;
	}
}

// Login Button
#loginbtn,
input[type="submit"]#loginbtn {
	@extend .btn, .btn-primary, .btn-medium;
	width: 100%;
	font-weight: 700;
	font-size: 16px;
}

// Forget Pass
.forgetpass {
	text-align: center;
	padding: 10px 0;
	a { color: $forgetpass-color; }
}

// Guest Form
.guestsub {
	.desc {
		font-size: 12px;
	}
	input[type="submit"] {
		@extend .btn;
		font-size: 12px;
		width: 100%;
		margin-top: 0;
		border: 0;
		outline: 0;
	}
}

// Signup Panel
.signuppanel {
	&, h2 { color: $signup-color; }
	h2 {
		font-weight: 600;
		text-transform: normal;
	}

	.signupform input[type="submit"] {
		@extend .btn, .btn-white, .btn-medium;
		border: 0;
	}
}

@media screen and (max-width: $screen-sm ) {
	#page-login-index {
		background: $body-bg;
	}

	.loginbox,
	.loginbox.onecolumn,
	.loginbox.twocolumns {
		margin: 0 10px;
	}
	.signuppanel {
		margin-top: $gutter * 2;
		&, h2 { color: #333; }
	}
}
