.profile_tree {
	padding: 0;
	background: transparent;

	section {
		background: #fff;
		margin: 10px 0;
		padding: 20px;

		h3 {
			@include title-boxed();
			margin: -20px -20px 20px -20px;
		}
	}
}

.path-user {
	.preferences-group {
		background: #fff;
		padding: 15px;
		display: inline-block;
		vertical-align: top;
		margin: 0 15px 15px 0;
		float: left;
		min-width: 300px;

		.row-fluid { float: left; }

		ul li a {
			background: #f9f9f9;
			margin: 2px 0;
			padding: 5px;
			display: block;
			color: $gray-medium;

			&:hover {
				text-decoration: none;
				background: #f0f0f0;
			}

			img { display: none;}
		}

		h3 {
			@include title-boxed();
			margin: -15px -15px 10px -15px;
		}

		@media screen and (max-width: $screen-md) {
			min-width: 100%;
		}
	}
}
