// Custom/Global Pages
#region-main {
	margin: $gutter 0;
}

#frontpage-course-list {
    margin-top: $gutter;
}

#frontpage-course-list h2 {
	margin-bottom: $gutter + 10;
	font-weight: 600;
}

.path-enrol {
	#notice { width: 100%;}
	.continuebutton {
		text-align: left;
		margin: ($gutter / 2) 0;

		input { margin: 0;}
	}
}

@media screen and (min-width: $screen-sm) {
	.path-admin-tool-lp table { overflow: visible;}
}

