.path-message {
	.box.message {
		@extend .box-light;
		width: 100%;
		padding: 0;
		margin: 0 0 20px 0;
		display: table;


		input[type="submit"] {
			@extend .btn, .btn-primary;
		}
	}

	.box.message .contactselector,
	.box.message .messagearea {
		float: none;
		display: table-cell;
		vertical-align: top;
		padding: 15px;

	}

	.box.message .contactselector {
		background: #f9f9f9;
		border-right: $message-border;

		> .singleselect {
			margin: -15px -15px 15px -15px;
			padding: 15px;
			border-bottom: $message-border;

			label {
				display: block
			}
		}

		.heading {
			font-weight: 600;
			margin: 0px -15px 10px -15px;
			padding: 0 15px;
			font-size: 15px;
		}

		.message-contacts {
			margin: 0 -15px;
			li 		{ padding: 5px 15px }
			.pix 	{
				left: 15px;
				img {
					@include pic-rounded(2px solid $gray);
				}
			}
		}
	}

	.messagearea {
		table { border: 0; }
	}
}
