// Course
.path-course-view {

	// Summary
	#section-0 {
		.summary img {
			margin: 0;
			border: 3px solid #fff;
			@media screen and (max-width: $screen-sm) {
				display: none;
			}
		}
		.summary { clear: both;}
		.sectionname { display: none;}
	}

	.section {
		margin-bottom: 10px;

		.sectionname {
			@include title-boxed(
				$bg: #d0d0cf,
				$color: $gray-hard,
				$fontsize: 16px,
				$padding: 10px 10px 7px 10px
			);

			a {
				color: $course-title-color;
			}
		}

		.activity {
			padding: 10px 0;
			border-bottom: 1px solid #d2d2d2;
		}

		.section_action_menu {
			margin-top: -13px;
			.toggle-display {
				color: lighten($course-title-bg, 10%);
			}
		}

		.section-modchooser-link {
			padding: 10px 0;
			display: block;
		}
	}

	.course-content ul
	li.section.main {
		border: 0;
	}
}

// Mod quiz
.path-mod-quiz {
	overflow-x: hidden;
}
