// Course categories
.course_category_tree {
	margin: 10px 0;
	padding: 20px;
	background: #f9f9f9;
	border: 1px solid #e5e5e5;

	.category > .info {
		@include prefix('border-radius', 3px);
		background: $gray-light;
		border: 1px solid #e5e5e5;
		padding: 5px 0;
		margin-bottom: 0;

		a {
			color: $primary-color;
		}
	}

	.coursebox {
		border: 1px solid #f0f0f0
	}

	// Collapse Items
	.category.with_children.collapsed>.info>.categoryname,
	.category.with_children>.info>.categoryname {
		padding: 0px 15px 0 10px;
	}
	.category.with_children.collapsed>.info>.categoryname {
		background: url([[pix:theme|icons/plus]]) no-repeat 99% center;
	}
	.category.with_children>.info>.categoryname {
		background: url([[pix:theme|icons/minus]]) no-repeat 99% center;
	}

	.category.with_children .content {
		padding: 0;

		.courses .coursebox {
			@include prefix('border-radius', 0);
			width: 100%;
			height: auto;
			margin: 0;

			.panel-heading {
				margin: 0;

				.coursename a {
					@include prefix('transition', all .3s ease);
					height: auto;
					border-bottom: 1px solid #e5e5e5;
					padding: 5px 10px;
					font-size: 16px;

					&:hover {
						background: $primary-color;
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}
}

// Select with categories
.categorypicker,
#page-course-index-category .categorypicker {
	text-align: left;
	float: right;
	margin: 0 20px 0 0;

	label {
		color: $body-color;
		text-transform: none;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 10px;
		display: block
	}

	select {
		border: 2px solid #ddd;
		width: 100%;
		outline: 0;
	}
}

// Filter Categories
.category-filter {
	@include prefix('border-radius', 3px);
	padding: 10px 15px;
	background: $primary-color;
	margin: 20px 0;

	label {
		margin-right: 10px;
		color: darken(#fff, 20%);
	}

	.btn-group .open>.dropdown-menu {
		max-height: 500px;
		overflow: auto;
	}

	.btn {
		@extend .btn-white;
		text-transform: none;
		padding: 4px 12px;

	}

	.glyphicon-chevron-down {
		padding-left: 5px;
		top: 2px;
		font-size: 12px;
	}
}
