// Settings
$m-sidebar-height: 50px;
$m-header-height: 40px;

// Responsive
@media screen and (max-width: $screen-md) {
	// Learning Trail
	#trail { margin-top: 0; }

	#main-menu .logoutlink,
	#sidebar .usermenu {
		display: block;
	}

	#main-menu .main-menu-title {
		display: none;
	}
	#header-logo h1 img {
		max-height: $m-header-height;
	}

	#trail-tab {
		list-style: none;
		padding: 10px;
		li {
			display: inline-block;
		}
	}
}

@media screen and (max-width: $screen-sm) {
	// Header
	#header {
		position: relative;
		height: $m-header-height;
		text-align: center;
	}

	#header-logo h1 {
		line-height: 35px;
		max-height: $m-header-height;
		img {
			max-width: 120px;
		}
	}

	// Usermenu
	#main-menu .logoutlink .guest + .logout { display: none}
	#main-menu .nav.usermenu {
		display: none;
		margin: 0;
		&.guest {
			display: block;

			a {
				background: $blue;
				color: #fff;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
	}

	// Default pages
	#page-login-index #page,
	body.path-login #page,
	#page 			{ margin-top: 0; padding-bottom: $m-sidebar-height + $gutter}
	#page,
	#content-bottom	{ margin-left: 0; margin-right: 0; }
	#region-main 	{ margin: 0 0 20px 0;}


	// Sidebar
	#sidebar-content 					{ z-index: 200}
	#sidebar-content,
	.sidebar-opened #sidebar-content 	{ top: 0}
	.sidebar-opened #sidebar-content 	{ left: 0;}

	#main-navigation {
		@include prefix('box-shadow',0 0 10px rgba(0,0,0,.2));
		top: inherit;
		left: 0;
		right: 0;
		width: 100%;
		height: $m-sidebar-height;
		z-index: 210;

		ul { font-size: 9px; }
		ul li {
			display: inline-block;
			float: left;
			width: 25%;

			a {
				width: 100%;
				display: block;
				height: $m-sidebar-height;
				padding: 0;
			}
		}

		// Icons
		.hamburg {
			padding: 17px 0 14px 50%;
			margin-left: -11px;

			span,
			span:before,
			span:after {
				width: 21px;
				height: 2px;
			}

			span:before { top: 6px; }
			span:after 	{ top: -6px; }
		}

		.nav-icon {
			margin: 0 auto 5px auto;
			padding-top: 7px;

			&.glyphicon-education {
				font-size: 21px;
			}
		}
	}

	// Frontpage 'All courses' btn
	.btn-courses {
		display: none;
	}

	// Hamburg icon when sidebar is opened
	.sidebar-opened #main-navigation .hamburg span:before {
	    top: 0px;
	    transform: rotate(47deg);
	}
	.sidebar-opened #main-navigation .hamburg span:after {
	    top: 0px;
	    transform: rotate(-45deg);
	}

	// footer
	#footer {
		display: none;
	}

	// Page User
	.userprofile .profile_tree {
		@include prefix('column-count', 1);
		@include prefix('column-gap', 0);
	}

	// Course Category
	.category-filter {
		padding: 10px;

		label {
			font-size: 11px;
			display: block;
			margin-right: 0;
		}

		.dropdown-toggle > span {
			white-space: nowrap;
			max-width: 70px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			vertical-align: middle;
		}

		.pull-right .dropdown-menu {
			left: inherit;
			right: 0;
		}

		.select-category	{ display: inline-block;}
		.dropdown-toggle 	{ font-size: 12px;}

	}
}
