// Content Top
#content-top {
	padding: $topcontent-padding;
	background: $topcontent-bg;
	margin: $topcontent-margin;
	color: $gray-medium;

	.section-title {
		margin-bottom: $gutter * 2;
	}
}

// Content Bottom
#content-bottom {
	background: $contentbottom-bg;
	background-size: cover;
	padding: $contentbottom-padding;
	color: $contentbottom-color;
	margin: $contentbottom-margin;
	text-align: center;

	.description {
		font-size: $contentbottom-p-fontsize;
		a {
			color: $contentbottom-color;
		}
	}

	.btn {
		margin: $contentbottom-btn-margin;
	}
}
