// Footer
#footer {
	background: $footer-bg;
	color: $footer-color;
	font-size: $footer-fontsize;
	padding: $footer-padding;
	margin: $footer-margin;

	h3 {
		font-size: $footer-title-fontsize;
		color: $footer-title-color;
		font-weight: $footer-title-fontweight;
	}

	// Copyright Static
	.copyright-static {
		margin-top: 20px;
		p { margin: 0;}
		img { margin-bottom: 10px;}
	}

	// Social Icons
	.social-icons {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: $footer-socialicons-margin;

			&:last-child {
				margin-right: 0;
			}

			a {
				display: block;
				width: $footer-socialicons-width;
				height: $footer-socialicons-height;
				background: $footer-socialicons-bg;
				color: $footer-socialicons-color;
				font-size: 0;
				text-align: center;
				line-height: $footer-socialicons-lineheight;
				text-decoration: none;

				&:hover {
					background: $footer-socialicons-bg--hover;
				}

				&:before {
					font-size: $footer-socialicons-fontsize;
				}
			}
		}
	}
}

.pagelayout-frontpage #footer { margin-top: $gutter;}

@media screen and (max-width: $screen-md) {
	#footer {
		text-align: center;
		// Copyright Static
		.copyright-static img { margin-top: 0; margin-bottom: 10px;}
		.social-icons { margin-top: 10px;}
	}
}
