// Header
#header {
	background: $header-bg;
	height: $header-height;
	color: $header-color;
	margin-bottom: $gutter;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	position: fixed;
	z-index: 190;
	top: 0;
	width: 100%;
	h1 {
		margin: 0;
		padding: 0;
	}
	a:focus {outline: 0}
}

// Logo
#header-logo h1 {
	line-height: $header-height - 5px;
	max-height: $header-height;
	font-size: 28px;
	a 	{ color: $header-color; }
	img {
		max-height: $header-height - 15px;
		padding: 5px;
	}
}

// Menu
#header-menu {
	line-height: $header-height;

	// Toggle Button
	button {
		@include prefix('box-shadow', none);
		padding: 0;
		margin: 0;
		position: relative;
		text-transform: uppercase;
		color: $header-color;
		border: 0;
		outline: 0;
		padding-left: 25px;

		&:hover,
		&:focus {
			background: transparent;
		}

		span {
			top: 8px;
		}

		span,
		span:before,
		span:after {
			@include prefix('border-radius', 3px);
			content:'';
			height: 3px;
			width: 18px;
			display: block;
			position: absolute;
			left: 0;
			background: $header-color;
		}
		span:after { top: -6px}
		span:before { top: 6px}
	}
}

// Header Search form
#header-search {
	border-right: 1px solid #f0f0f0;
	height: $header-height;
	padding: 0 20px;

	form {
		position: relative;
		margin-top: 12px;

		input {
			@include prefix('border-radius', 4px);
			width: 100%;
			max-width: 300px;
			padding-right: 30px;
			border: 2px solid #ccc;
			background: #fff;
			float: right;
			height: 45px;


			&:focus + .glyphicon{
				color: $primary-color;
			}
		}

		.glyphicon {
			@include prefix('transition', all .3s ease);
			@include prefix('transform', rotateY(180deg));
			color: #ccc;
			position: absolute;
			font-size: 24px;
			top: 50%;
			right: 12px;
			margin-top: -14px;
		}
	}
}

// Header User Info
#header-userinfo {
	margin: 12px 0;
	padding: 0 20px;

	.guest {
		li { float: none; }
		li a {
			@extend .btn, .btn-primary, .btn-medium;
			margin-top: 3px;
			display: block;
			text-align: center;
		}
	}

	// Arrow nav
	.caret {
		@include prefix('border-radius',  100px);
		width: 20px;
		height: 20px;
		position: relative;
		margin-top: 15px;
		border: 0;
		font-size: 15px;
		font-family: 'Glyphicons Halflings';
		color: $header-color;
		line-height: 22px;
		text-align: center;
		outline: 0;
		float: right;

		&:before {
			content: "\e252";
		}
	}

	// Usermenu nav
	.usermenu {
		width: 100%;

		.menubar,
		.menubar > li {
			display: block;
		}
		.textmenu { padding: 0; }
		.moodle-actionmenu.show {
			background: none;
			display: block !important; //reset
		}

		&, .dropdown-toggle {
			@extend %clearfix;
			margin: 0;
			padding: 0;

			&:hover,
			&:focus,
			&:active,
			&:visited {
				background: transparent;
			}
		}

		.usertext {
			color: $header-color; font-weight: 600;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 60%;
			&:before {
				content: 'Bem-vindo(a)';
				font-size: 85%;
				display: block;
				color: $gray;
				padding: 5px 0;
			}
		}
	}

	// User Picture
	.avatar {
		@include prefix('border-radius', 100px);
		float: left;
		display: block;
		width: 45px;
		height: 45px;
		border: 2px solid $primary-color;
		overflow: hidden;
		margin-right: 15px;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.jsenabled.userloggedinas #header-userinfo {
	margin-top: 4px;
	.usermenu .userbutton .avatars .avatar.current {
		max-width: 30px;
		max-height: 30px;
		top: 18px;
		left: 37px;

		img {
			height: auto;
			width: auto;
			margin-top: -8px;
			border: 0;
			border-radius: 0;
		}
	}

	.usermenu .moodle-actionmenu .usertext .meta,
	.usermenu .moodle-actionmenu .usertext .role {
		font-size: 10px;
	}
}

@media screen and (max-width: $screen-md) {
	#header-search,
	#header-userinfo {
		display: none;
	}
}

