// Sidebar
#main-navigation {
	background: $primary-color;
	color: #fff;
	text-align: center;
	width: $sidebar-nav-width;
	position: fixed;
	top: $header-height;
	bottom: 0;
	left: 0;
	z-index: 200;

	ul {
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		li {
			display: block;
			position: relative;
		}

		a {
			@include prefix('transition', all .3s ease);
			@include prefix('box-shadow', 0 1px 0 0 rgba(255,255,255,.1));
			@include opacity(.8);
			border-bottom: 1px solid rgba(0,0,0,.2);
			display: block;
			padding: 10px 0;
			color: #fff;

			&:hover,
			&:focus {
				@include opacity(1);
				text-decoration: none;
				background: darken($primary-color, 10%);
			}
		}
	}

	// Icons
	.nav-icon {
		max-width: $sidebar-icon-width;
		max-height: $sidebar-icon-width;
		display: block;
		margin: 5px auto;
		&.glyphicon-education {
			font-size: $sidebar-icon-width;
		}
	}

	// Hamburg Icon
	.hamburg {
		display: block;
		padding: 15px 0 15px 28px;
	}
	.hamburg span,
	.hamburg span:before,
	.hamburg span:after {
		content: '';
		@include prefix('transition', all .3s ease);
		@include prefix('border-radius', 3px);
		background: #fff;
		width: $sidebar-icon-width - 1px;
		height: 3px;
		position: absolute;
		display: block;
		margin: 0 auto;
	}
	.hamburg span:after { top: -7px; }
	.hamburg span:before { top: 7px; }
}

// Sidebar Content
#sidebar-content {
	@include prefix('transition', all .3s ease);
	@include prefix('box-shadow', 2px 0 5px rgba(0,0,0,.2));
	background: $sidebar-bg;
	width: $sidebar-width;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: $header-height;
	bottom: 0;
	left: -($sidebar-width + 20px);
	z-index: 180;
	padding-bottom: $header-height;
}

// Search
#search-sidebar {
	margin: $sidebar-search-margin;
	position: relative;

	input {
		@include prefix('border-radius', 0);
		@include prefix('box-shadow', none);
		@include placeholder($sidebar-search-button-color);
		background: $sidebar-search-bg;
		border: 0;
		padding-right: 40px;
		width: 100%;
		color: $sidebar-search-color;
		margin: 0;

	}

	button {
		@extend .reset-button;
		position: absolute;
		right: 10px;
		top: 50%;
		font-size: 20px;
		color: $sidebar-search-button-color;
		margin-top: -10px;
	}
}

// Profile Card
#profile-card {
	background: $profilecard-bg;
	color: $profilecard-color;
	padding: $profilecard-padding;
	position: relative;

	// Username
	.profile-username {
		font-size: $profilecard-username-fontsize;
		font-weight: $profilecard-username-fontweight;

		span {
			font-size: $profilecard-username-span-fontsize;
		}
	}

	// User Pic
	.profile-pic {
		margin-right: 10px;
		img {
			@include pic-rounded($profilecard-pic-border);
		}
	}

	// Edit Profile Button
	.profile-edit {
		@include prefix('border-radius', 100px);
		@include prefix('transition', all .1s ease);
		background: $profilecard-edit-button-bg;
		width: $profilecard-edit-button-size;
		height: $profilecard-edit-button-size;
		position: absolute;
		right: 20px;
		top: 90%;
		line-height: $profilecard-edit-button-size;
		color: $profilecard-edit-button-color;
		text-align: center;
		&:hover {
			@include prefix('transform', scale(1.1));
			text-decoration: none;
		}
	}

	.profile-username,
	.profile-pic {
		display: inline-block;
		vertical-align: middle;
	}
}

// Main menu with custom menu
#main-menu {
	background: $sidebar-mainmenu-bg;
	padding: $sidebar-mainmenu-padding;

	h2 {
		background: darken($primary-color, 5%);
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		margin: -20px -20px 15px -20px;
		padding: 15px;
		font-size: 15px;
		border-bottom: 2px solid darken($primary-color, 10%);
	}

	ul {
		margin: 0 (-$sidebar-mainmenu-padding);
		padding: 0;
		list-style: none;

		li, a {
			display: block;
			float: none;
			line-height: 1.2em;
			font-size: 14px;
			clear: both;
		}

		li {
			a {
				@include prefix('transition', all .3s ease);
				padding: $sidebar-mainmenu-link-padding;
				color: $sidebar-mainmenu-link-color;
				font-weight: 500;
			}

			&:hover,
			.dropdown-menu li a:hover,
			.dropdown-submenu li a:hover {
				background: $sidebar-mainmenu-link-bg--hover;
				&, a { text-decoration: none; }
			}
		}

		// Custom Menu
		.custom-menu ul {
			margin: 0;
			padding: 0;

			a:before {
				content: '\e032';
				font-family: $font-icon;
			}
		}
		// Dropdown Menu
		.dropdown-menu {
			background: darken($sidebar-mainmenu-bg, 5%);
			position: relative;
			left: 0;
			width: 100%;
			box-shadow: none;
			border: 0;
			border-radius: 0;

			.divider {
				background: darken($sidebar-mainmenu-bg, 10%);
				margin: 0;
			}

			a:before {
				display: none;
			}
		}
		.dropdown-toggle:after {
			@include prefix('transform', rotate(90deg));
			border-left-color: $sidebar-mainmenu-link-color;
			margin-right: 0;
		}

		.yui3-menu-content {
			background: none;
			border: 0;
		}
	}

	.glyphicon,
	.custom-menu ul a:before {
		margin-right: 10px;
		font-size: $sidebar-mainmenu-icon-fontsize;
		vertical-align: middle;
	}
}

// When sidebar is opened
.sidebar-opened {
	#main-navigation .hamburg {
		span {height: 0;}
		span:before{
			top: -1px;
		    height: 3px;
		    transform: rotate(45deg);
		}
		span:after {
			top: -1px;
			height: 3px;
			transform: rotate(-45deg);
		}
	}
	#sidebar-content {
		left: $sidebar-nav-width;
	}
}
#main-menu .logoutlink { display: none; }

// Edit Mode
.dir-ltr.editing.used-region-side-post.used-region-side-pre #block-region-side-post,
.dir-ltr.editing.used-region-side-post.used-region-side-pre #block-region-side-pre {
	width: 100%;
	left: 0;
	right: 0;
}
.dir-ltr.editing.used-region-side-post.used-region-side-pre #region-main {
	left: inherit;
}
