// Globals
html, body {
	height: 100%;
	background: $body-bg;
}
body {
	font-family: $base-font;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

img 				{ max-width: 100%; }
ul 					{ margin: 0; }

// Loading
.theme-loading {
	@include prefix('box-shadow', 0 0 10px rgba(0,0,0,.2));
	@include prefix('border-radius', 5px);
	background: #fff url('/theme/ibp/pix/loading.svg') no-repeat center center;
	display: block;
	position: fixed;
    z-index: 100;
    right: 15px;
    top: 15px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

#page {
	margin-top: ($header-height + $gutter);
	min-height: 550px;
}

.modal.modal-dialog.show { display: block !important;}
.modal-body {background: #f9f9f9}

// Custom
@media screen and (max-width: 1800px) {
	#page { margin-left: $sidebar-nav-width + ($gutter / 2); }
	#footer,
	#copyright { margin: $footer-margin; }
}
// Max screen md: 992px
@media screen and (max-width: $screen-md) {
	#page { min-height: auto; }
}

// Max screen md: 1280px
@media screen and (min-width: $screen-lg) {
	body {
		@include prefix('transition', all .3s ease);
	}
}
