// Align Text
.text-center	{ text-align: center;}
.text-left 		{ text-align: left; }
.text-right		{ text-align: right; }

// Pic Rounded
.pic-rounded {
	@include pic-rounded();
}

.box-light {
	@include prefix('border-radius', 3px);
	background: #fff;
	padding: 15px;
}
