// Prefixed
@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-o-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}

// Opacity
@mixin opacity($opacity){
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter: alpha(opacity=($opacity * 100));
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
}


// Placeholder
%clearfix {
	&:before,
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

// Pics
@mixin pic-rounded($border: 0) {
	@include prefix('border-radius', 100px);
	border: $border;
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $color;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color;
	}
}

// Boxed Title
@mixin title-boxed($bg: $primary-color,$color: #fff,$fontsize: 20px,$border: 3px solid darken($bg, 5%),$padding: 10px) {
	background: $bg;
	color: $color;
	font-size: $fontsize;
	border-bottom: $border;
	padding: $padding;
}
