// Options
// -----------------------------------
$gutter: 20px;

// Colors
// -----------------------------------
$blue: #4490D1;
$green: #009f4c;
$gray: #a7a9ac;
$gray-light: #efefef;
$gray-medium: #909090;
$gray-hard: #606060;
$pastel-green: #a5c470;
$pastel-blue: #81859a;

// Main Colors
$primary-color: #F08601;
$secondary-color: #7AC5BF;

// Fonts
// -----------------------------------
$base-font: 'Open Sans', sans-serif;
$font-icon: 'Glyphicons Halflings';

// Globals
// -----------------------------------
$body-bg: $gray-light;
$body-color: #333;

// Header
// -----------------------------------
$header-height: 70px;
$header-bg: #fff;
$header-color: $primary-color;
// Logo
$logo-height: 60px;
$logo-margin: 20px 0;

// Forms
// -----------------------------------
// Inputs/select/textarea
$input-minheight: 45px;
$input-color: $gray;
$input-border: 1px solid lighten($gray, 18%);
// Labels
$label-color: $gray-medium;
$label-texttransform: uppercase;
$label-fontweight: 600;
$label-fontsize: 13px;

// Components
// -----------------------------------
// Navs e Dropdowns
$dropdown-menu-fontsize: 13px;
$dropdown-menu-color--hover: $gray-medium;
$dropdown-menu-bg--hover: $gray-light;

// Typography
$heading-color: $body-color;
$heading-fontweight: 600;
$heading-texttransform: uppercase;
$heading-margin: 0 0 20px;

// Buttons
$btn-fontweight: 600;
$btn-texttransform: uppercase;
$btn-borderradius: 2px;
$btn-bg: $blue;
$btn-color: #fff;
$btn-bg--hover: darken($btn-bg, 10%);
$btn-color--hover: $btn-color;
// Button: Variations
$btn-small-padding: 10px;
$btn-small-fontsize: 12px;
$btn-medium-padding: 10px 20px;
$btn-large-padding: 10px 30px;
// Button: Primary
$btn-primary-bg: $primary-color;
$btn-primary-color: #fff;
// Button: Green
$btn-green-bg: $pastel-green;
$btn-green-color: #fff;
// Button: Green Bordered
$btn-green-bordered-bg: transparent;
$btn-green-bordered-color: $pastel-green;
$btn-green-bordered-bg--hover: $pastel-green;
$btn-green-bordered-color--hover: $btn-green-color;
// Button: White
$btn-white-bg: #fff;
$btn-white-color: $body-color;
$btn-white-bg--hover: darken($btn-white-bg, 10%);
$btn-white-color--hover: $btn-white-color;
// Button: White Bordered
$btn-white-bordered-bg: transparent;
$btn-white-bordered-color: #fff;
$btn-white-bordered-bg--hover: #fff;
$btn-white-bordered-color--hover: $body-color;
// Button: Courses
$btn-course-float: right;

// Breadcrumb
$breadcrumb-fontsize: 14px;
$breadcrumb-color: $gray-medium;

// Blocks
$adminsearch-bt-bg: #bbbbb5;
$blocks-title-bg: $secondary-color;
$blocks-title-color: $body-color;
$blocks-title-border: 2px solid darken($blocks-title-bg, 10%);

// Panels
$panelheading-bg: $primary-color;
$panelheading-color: #fff;
// Sidebar
// -----------------------------------
$sidebar-nav-width: 80px;
$sidebar-width: 280px;
$sidebar-icon-width: 26px;
$sidebar-bg: #f9f9f9;
// Profile Card
$profilecard-bg: $primary-color;
$profilecard-color: #fff;
$profilecard-padding: 20px;
// Profile Card Username
$profilecard-username-fontsize: 12px;
$profilecard-username-fontweight: 600;
$profilecard-username-span-fontsize: 11px;
// Profile Card UserPic
$profilecard-pic-border: 2px solid #fff;
// Profile Card Edit Button
$profilecard-edit-button-bg: #98B650;
$profilecard-edit-button-color: #fff;
$profilecard-edit-button-size: 30px;
// Main Menu
$sidebar-mainmenu-bg: $gray-light;
$sidebar-mainmenu-padding: $gutter;
$sidebar-mainmenu-link-padding: 10px $sidebar-mainmenu-padding;
$sidebar-mainmenu-link-color: $gray-medium;
$sidebar-mainmenu-link-bg--hover: #fff;
$sidebar-mainmenu-icon-fontsize: 16px;
// Search Form
$sidebar-search-margin: -20px -20px 20px -20px;
$sidebar-search-bg: rgba(0,0,0,.2);
$sidebar-search-color: lighten($profilecard-bg, 30%);
$sidebar-search-button-color: lighten($profilecard-bg, 10%);


// Screens
// -----------------------------------
$screen-xs:	480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Login Page
// -----------------------------------
$body-login-bg: url([[pix:theme|bg-login]]) no-repeat center center;
$loginbox-title-bg: $primary-color;
$loginbox-title-color: #fff;
$loginbox-label-color: $body-color;
$loginbox-input-bg: $gray-light;
$forgetpass-color: $primary-color;
// Signup Panel
$signup-color: #fff;

// Slideshow
// -----------------------------------
$slideshow-height: 350px;
$slideshow-width: 100%;
$slideshow-caption-bg: rgba(0,0,0,.6);
$slideshow-caption-color: #fff;
$slideshow-caption-padding: 15px;
$slideshow-caption-height: 100px;
$slideshow-caption-margin: 0px;
$slideshow-caption-boxshadow: 0 2px 10px rgba(0,0,0,.4);
$slideshow-caption-title-fontsize: 20px;
$slideshow-caption-title-color: #fff;

// Vendor: Slick
// -----------------------------------
$slick-arrow-color: #fff;

// Sections
// -----------------------------------
// Content Top
$topcontent-bg: #fff;
$topcontent-padding: ($gutter * 2) 0;
$topcontent-margin: 0 0 $gutter;
// Content Bottom
$contentbottom-bg: url([[pix:theme|content-bottom]]) no-repeat center center;
$contentbottom-margin: 0;
$contentbottom-padding: 100px 0;
$contentbottom-color: #fff;
$contentbottom-p-fontsize: 22px;
$contentbottom-btn-margin: 30px 0;

// Footer
// -----------------------------------
$footer-bg: #fff;
$footer-color: $gray-medium;
$footer-fontsize: 12px;
$footer-padding: $gutter 0 $gutter $gutter;
$footer-margin: ($gutter * 4) 0 0 $sidebar-nav-width;
// Title
$footer-title-fontsize: 15px;
$footer-title-color: $pastel-blue;
$footer-title-fontweight: 600;
// Logo
$footer-logo-opacity: .5;
// Social Icons
$footer-socialicons-margin: 0 10px 0 0;
$footer-socialicons-bg: $gray;
$footer-socialicons-color: $footer-bg;
$footer-socialicons-bg--hover: $gray-medium;
$footer-socialicons-fontsize: 24px;
$footer-socialicons-width: 36px;
$footer-socialicons-height: $footer-socialicons-width;
$footer-socialicons-lineheight: $footer-socialicons-height;

// Table
// Padding for `<th>`s and `<td>`s
$table-cell-padding:            10px !default;
// Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;
// Default background color used for all tables.
$table-bg:                      #fff !default;
// Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
// Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;
// Border color for table and cell borders.
$table-border-color:            #ddd !default;

// Page Course
$course-title-color: #fff;
$course-title-bg: $primary-color;

// Category Page
$filter-btn-bg: #fff;
$filter-btn-color: $gray-medium;

// Page Messages
$message-border: 1px solid #e5e5e5;
