// Boxes
// -----------------------------------
$box-title-fontsize: 18px;
$box-title-fontweight: 600;

// Coursebox
// -----------------------------------
$cb-content-space: 0;
$coursebox-width: 32%;
$coursebox-height: 325px;
$coursebox-border: 0;
$coursebox-margin: 0 0 2% 2%;
$coursebox-padding: 0 $gutter $gutter $gutter;
// Content
$coursebox-content-height: 50px;
// Content: Thumb
$coursebox-thumb-width: 100%;
$coursebox-thumb-height: 180px;
$coursebox-thumb-bg: #F9F9F9 url([[pix:theme|no-image]]) no-repeat center center;
// Content: Title
$coursebox-title-fontsize: 18px;
$coursebox-title-fontweight: 600;
$coursebox-title-height: 60px;
// Content: Button
$coursebox-btn-margin: 10px 0 0 $cb-content-space;
