// Blocks
.block {
	background: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;

	// Title
	.header {
		background: #fff;
		border-bottom: 2px solid $gray-light;
		padding: 15px;

		h2 {
			font-size: 15px;
			font-weight: 600;
		}
	}

	// Content
	.content {
		padding: 10px $gutter;
		line-height: 1.8em;
		font-size: 14px;

		&, & a {
			color: $gray-hard;
		}
	}

	// Block Actions(buttons)
	.block_action img {
		outline: 0;
	}
}

.block_settings .block_tree {
	margin: 0;
}
.block_settings .block_tree .tree_item.branch {
	background-position: 0 center;
	background-size: 15px;
}

// Centered icons
.block_settings .block_tree li.item_with_icon > p img {
	width: 14px;
	top: 3px;
}

// Search
.adminsearchform {
	margin: 0 (-$gutter);
	padding: 10px $gutter;
	background: $gray-light;

	button,
	input[type="text"] {
		min-height: 40px;
	}

	button {
		font-size: 0;
		border: 0;
		background: $adminsearch-bt-bg;

		&:before {
			content: '\e003';
			font-size: 18px;
			font-family: $font-icon;
		}
	}
}

// Blocks Course Overview (/my)
.block_course_overview {
	.header h2 {
		font-size: 23px;
	}
	.content {
		margin: 0;
		padding: 0;

		.coursebox {
			margin-left: 0;
			width: 100%;
			background: #f9f9f9;
			margin-bottom: 5px;
			height: auto;

			.course_title h2 {
				font-size: 20px;
				margin: 0;

				&:after {
					display: none;
				}
			}
		}
	}

	.coursebox {
		.activity_info 	{ margin-top: 10px}
		.box 			{ margin: 0; }
	}
}
