// Breacrumb
.breadcrumb-nav {
	font-size: $breadcrumb-fontsize;
	color: $breadcrumb-color;

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			a {
				color: $breadcrumb-color;
			}
		}
	}

	.arrow {
		font-size: 0;

		&:before {
			content: '/';
			font-size: $breadcrumb-fontsize;
			color: $breadcrumb-color;
			margin: 0 3px;
		}
	}
}

@media screen and (max-width: $screen-sm) {
	#page-navbar {
		margin: -20px -10px 15px -15px;

		.breadcrumb-nav {
			white-space: nowrap;
			overflow: auto;
			width: 100%;
			background: #ddd;
			padding: 5px 10px;
			float: none;
			margin: 0;
			display: block;
			font-size: 12px;
		}
	}
}
