// Buttons
.btn:active,
button:active {
	background: transparent;
}

.btn,
button, button.btn,
input[type="submit"],
input[type="submit"].btn {
	@include prefix('border-radius', $btn-borderradius);
	cursor: pointer;
	font-weight: $btn-fontweight;
	outline: 0;
	border: 0;
	box-shadow: none;
}

input[type="submit"].btn,
button.btn,
.btn {
	text-transform: $btn-texttransform;
	text-decoration: none;
	color: $btn-color;
	background: $btn-bg;

	&:hover {
		text-decoration: none;
		color: $btn-color--hover;
		background: $btn-bg--hover
	}

	&.btn-primary {
		background: $btn-primary-bg;
		color: $btn-primary-color;
		border: 0;
		&:hover {
			background: darken($btn-primary-bg, 10%);
		}
	}

	// Green Button
	&.btn-green {
		background: $btn-green-bg;
		color: $btn-green-color;
		border: 0;
		&:hover {
			background: darken($btn-green-bg, 10%);
		}
	}

	// Green Button
	&.btn-green--bordered {
		background: $btn-green-bordered-bg;
		color: $btn-green-bordered-color;
		border: 2px solid $btn-green-bordered-color;
		&:hover {
			background: $btn-green-bordered-bg--hover;
			color: $btn-green-bordered-color--hover;
		}
	}

	// White Button
	&.btn-white {
		background: $btn-white-bg;
		color: $btn-white-color;
		border: 0;
		&:hover {
			background: $btn-white-bg--hover;
			color: $btn-white-color--hover;
		}
	}

	// White Button
	&.btn-white--bordered {
		background: $btn-white-bordered-bg;
		color: $btn-white-bordered-color;
		border: 2px solid $btn-white-bordered-color;
		&:hover {
			background: $btn-white-bordered-bg--hover;
			color: $btn-white-bordered-color--hover;
		}
	}

	// Variations
	&.btn-small {
		padding: $btn-small-padding;
		font-size: $btn-small-fontsize;
		min-height: auto;
	}
	&.btn-medium {
		padding: $btn-medium-padding;
	}
	&.btn-large {
		padding: $btn-large-padding;
	}
}
// Button All courses
.btn-courses {
    margin-top: $gutter / 2;
	float: $btn-course-float;
	@extend .btn;
	@extend .btn-white;
	@extend .btn-large;

	@media screen and (max-width: $screen-xs) {
		background: $btn-primary-bg;
		width: 100%;
		display: block;
		text-align: center;
		margin: 10px 0;
		color: #fff;

		&:hover {
			background: darken($btn-primary-bg, 5%);
		}
	}
}


.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
	margin-left: -2px;
}

.reset-button {
	&, &:hover {
		padding: 0;
		background: none;
		border: 0;
		outline: 0;
		text-shadow: none;
		box-shadow: none;
	}
}

input[type="submit"] { @extend .btn, .btn-primary; }
#notice .singlebutton + .singlebutton input,
.submit.buttons input[name="cancel"] {
	@extend .btn, .btn-white;
}

