.block {
	.calendartable {
		max-width: 100%;
		border: none;
		th {
			border: none;
		}
	}

	// adiciono borda com a mesma cor do fundo do calendário para dar "padding" na tabela
	.minicalendar {
		border-bottom: 5px solid #d2d2d2;
		.weekdays {
			border-bottom: 5px solid #d2d2d2;
		}
	}

	.calendartable {
		// header do calendário (setas, mês e dias da semana)
		caption {
			margin: 0;
			padding: 10px 20px;
			background: #f2f2f2;
		}
		// título e setas
		.calendar-controls {
			.current a {
				color: #333;
				text-transform: uppercase;

				&:hover {
					text-decoration: none;
				}
			}
			.arrow_link {
				color: #333;
				font-family: 'Glyphicons Halflings';
				font-size: 10px;
				&:hover {
					text-decoration: none;
				}
				&.previous:before {
					content: "\e079"
				}
				&.next:before {
					content: "\e080";
				}
				.arrow {
					font-size: 0;
				}
			}
		}

		// dias da semana
		tr th abbr {
			color: $primary-color;
			text-transform: uppercase;
			display: block;
			padding: 5px;
			border: 0;
		}

		// dias do mês
		tr td {
			background: #f0f0f0;
			padding: 10px 0;
			&.today,
			&.hasevent {
					border-radius: 50%;
					position: relative;
					> a {
					width: 100%;
					height: 31px;
					display: block;
					position: absolute;
					top: 0px;
					left: 0;
				}
			}
			.calendar-event-panel a {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-align: center;
			}
			.yui3-overlay-content {
				padding: 5px;
			}
			// dia atual
			&.today > a {
				background: $primary-color;
				color: #fff !important;
				font-weight: 600 !important;
				line-height: 31px;
			}
			&.calendar_event_global > a {
				border: 2px solid #d6f8cd;
				color: #333;
				font-weight: 600;
				line-height: 35px;
			}

			&.calendar_event_course > a {
				border: 2px solid #ffd3bd;
				color:#333;
				font-weight: 600;
				line-height: 35px;
			}

			&.calendar_event_group > a {
				border: 2px solid #fee7ae;
				color:#333;
				font-weight: 600;
				line-height: 35px;
			}
			&.calendar_event_user > a {
				border: 2px solid #dce7ec;
				color:#333;
				font-weight: 600;
				line-height: 35px;
			}

		}
	}

	// elementos escondidos
	.eventskey,
	.calendar_filters {
		display: none;
	}

}
