.course-tabs {
    border-bottom: 4px solid #F08601;
    display: flex;
    margin-bottom: 20px;
    @media(max-width: 768px) {
        display: none;
    }
    .nav-link {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        color: #777;
        font-size: 14px;
        padding: 6px 10px;
        text-decoration: none;
        &:hover {
            background-color: #ddd;
            color: #555;
            transition: .4s;
        }
        &.active {
            color: #fff;
            background-color: #F08601;
        }
    }

    &--responsive {
        display: none;
        border: 0;
        background-color: #fff;
        box-shadow: 0 0 6px rgba(0,0,0, .1);
        margin: 0 auto 20px auto;
        padding: 8px 10px;
        font-size: 14px;

        @media(max-width: 768px) {
            display: block;
        }
    }
}