// Forms
form input[type="text"],
form input[type="password"],
form input[type="tel"],
form input[type="email"],
form textarea, form select {
	@include prefix('box-shadow', none);
	@include prefix('border-radius', 2px);
	@include prefix('box-sizing', 'border-box');
	outline: 0;
	padding: 0 10px;
	color: $input-color;
	border: $input-border;
	height: auto;
	min-height: $input-minheight;

	&:focus {
		@include prefix('box-shadow', none);
		outline: 0;
		border-color: darken($input-color, 10%);
		color: darken($input-color, 10%);
	}

	&:active {
		background: transparent;
	}
}

// Labels
label {
	text-transform: $label-texttransform;
	font-size: $label-fontsize;
	color: $label-color;
	font-weight: $label-fontweight;
}

// Textarea
textarea {
	width: 100%;
}

