// Navs
.nav {}
.nav .open > a,
.nav .open > a:hover, .nav .open > a:focus {
	background: none;
}
// Dropdowns
.dropdown-menu, #header .menu {
	@include prefix('box-shadow', 0 10px 15px rgba(0,0,0,0.1));
	@include prefix('border-radius', 2px);
	margin: 5px 0;
	border: 1px solid #f0f0f0;
	font-size: $dropdown-menu-fontsize;

	.filler { margin: 5px 0;}
	&:after,
	&:before {
		display: none;
	}

	.iconsmall,
	.smallicon {
		margin: 4px 4px 4px 0px;
	}

	> li > a {
		color: #888;
		padding: 5px 10px;

		&:hover {
			color: $dropdown-menu-color--hover;
			background: $dropdown-menu-bg--hover;
		}
	}
}

.usermenu .login {
	display: block;
	padding: 0 20px;
	font-size: 0;
	a {
		@extend .btn, .btn-primary, .btn-medium;
		text-align: center;
		margin: 0px 0;
		font-size: 14px;
		display: block;
	}
}
