.panel {
	@include prefix('box-shadow', 0 2px 5px rgba(0,0,0,0.05));
	border: 0;

	&.panel-default .panel-heading {
		background: $panelheading-bg;
		&, h2, h3, h4 { color: $panelheading-color; }
	}
}
