// Slideshow
#slideshow {
	line-height: 1.5em;
	height: $slideshow-height;
	overflow: hidden;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	// Slide Images/items
	li, a { outline: 0;}
	li .slide-link {
		position: relative;
		display: block;
		background: {
			size: cover;
			repeat: no-repeat;
			position: center center;
		}
		width: $slideshow-width;
		height: $slideshow-height;
	}

	.slide-caption {
		@include prefix('box-shadow', $slideshow-caption-boxshadow);
		height: $slideshow-caption-height;
		width: 100%;
		position: absolute;
		z-index: 10;
		bottom: 0;
		background: $slideshow-caption-bg;
		color: $slideshow-caption-color;
		padding: $slideshow-caption-padding;
		margin: $slideshow-caption-margin;

		h3 {
			font-size: $slideshow-caption-title-fontsize;
			color: $slideshow-caption-title-color;
			font-weight: 700;
			margin-bottom: 5px;
		}
		p { margin: 0;}

		.slide-description {
			font-size: 13px;
			height: 42px;
			display: block;
		}

		.btn {
			float: right;
			margin-top: -10px;
		}
	}
}
