h1, h2, h3, h4 {
	font-weight: $heading-fontweight;
	text-transform: $heading-texttransform;
	margin: $heading-margin;
	color: $heading-color;
}

@media screen and (max-width: $screen-sm){
	h1 { font-size: 28px; }
	h2 { font-size: 20px; }
	h3 { font-size: 16px; }
}
